.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background: linear-gradient(to top, #262c36, #0d0f11) !important;
  color: #fff !important;
}

@media (min-width: 600px) {
  .css-1k455el {
    min-height: 34px !important;
  }
}
