// custom table-pagination
.base-TablePagination-toolbar {
  justify-content: flex-end;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

// custom table header
.css-y8ay40-MuiTableCell-root {
  background-color: #f9cdcd !important;
  text-align: center !important;
  font-weight: bold !important;
}

.search-add-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
