.css-oyzd06-MuiButtonGroup-root .MuiButtonGroup-firstButton,
.css-oyzd06-MuiButtonGroup-root .MuiButtonGroup-middleButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #bdbdbd;
  border-color: #1565c0;
}
.css-153akec-MuiButtonBase-root-MuiButton-root {
  background-color: grey !important;
}
