.custom-container {
  display: flex;
  justify-content: center;

  .background-image {
    position: absolute;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url("https://chieuphimquocgia.com.vn/_next/image?url=https%3A%2F%2Fapi.chieuphimquocgia.com.vn%2FContent%2FImages%2F0017682_0.jpg&w=256&q=75");
    filter: blur(8px);
    z-index: -2;
  }

  .background-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 500px;
    background-size: cover;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  .movie-detail {
    margin-top: 100px;
    position: relative;
    z-index: 1;
  }
}
