.news-container {
    margin-top: 100px;
    text-align: center;
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    .section-name {
      font-weight: 700;
      font-size: x-large;
      margin-bottom: 40px;
    }
}