.footer {
  width: 100%;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #10141b;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  z-index: 1000;
  .nav-container {
    padding-bottom: 20px;
    .nav {
      margin-right: 40px;
    }
  }
  .icon-container {
    padding-bottom: 20px;
    .icon {
      margin-right: 20px;
    }
  }
}
