.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  .nav-container {
    padding-bottom: 20px;
    .nav {
      margin-right: 40px;
    }
  }
  .icon-container {
    padding-bottom: 20px;
    .icon {
      margin-right: 20px;
    }
  }
}
